<h1>Sign up as new user!</h1>

<form action="<%=users_url%>" method="POST"> 

    <label>Username:
    <input type="text" name="user[user_name]">
    </label>

    <br>

    <label>Password:
    <input type="password" name="user[password]">
    </label>

    <br>

    <input type="submit" value="Create Account">

</form>
