
<h1><%= @cat.name %></h1>
<table>
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <% [:age, :birth_date, :color, :sex].each do |param| %>
            <tr>
                <td> <%= param.upcase %> </td>
                <td> <%= @cat.send(param) %> </td>
            </tr>
        <% end %>
    </tbody>
</table>
